::ng-deep header.material-header.material-header {
  background-color: black;
}

.router-link-active {
  color: #47db63;
}

a:link,
a:visited,
a:active {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #47db63;
  text-decoration: none;
}

#lastToolbarNav {
  margin-right: 100px;
}
