@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Material+Icons);
body {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

rd-app {
  text-align: center;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: lightgray;
  margin: 2em 0;
}
